table,
th,
td {
    border: 2px solid black;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #1c351d;
}

.red-button {
    background-color: #f44336;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    width: -webkit-fill-available;
}